@model dynamic
@{
    ViewData["Title"] = "EditPatient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(document).ready(function () {
        $('#toFade').delay(3000).fadeOut();
    });
</script>
@if (TempData["editPatientCheck"] != "fail" && TempData["editPatientCheck"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        <strong>@TempData["editPatientCheck"]</strong> edited successfully!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (TempData["editPatientCheck"] == "fail")
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        Your requests did not go through.
        <hr />
        Please check it again!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["removePatientCheck"] == "success")
{
    <div class="alert alert-success alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        Doctor has been removed successfully
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div>
    <div class="card mt-4">
        <div class="card-header bg-primary border-bottom">
            <div class="row">
                @if (Model.Patient.gender == "Male")
                {
                    <h4 class="ml-2 text-white"> Mr. @Model.Patient.firstName @Model.Patient.lastName</h4>
                }
                else
                {
                    <h4 class="ml-2 text-white"> Ms. @Model.Patient.firstName @Model.Patient.lastName</h4>
                }
            </div>
        </div>
        <div class="card-body">
            <form asp-action="SaveChangesPatient" method="post">
                <input type="hidden" name="id" value="@Model.Patient.ID" />
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="fname" value="@Model.Patient.firstName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" value="@Model.Patient.lastName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="username">Address:</label>
                    <input type="text" id="address" name="address" value="@Model.Patient.address" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" value="@Model.Patient.emailAddress" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="text" id="phone" name="phone" value="@Model.Patient.phoneNumber" class="form-control" required />
                </div>
                <hr />
                <div class="form-group">
                    <label for="fname">Contact First Name:</label>
                    <input type="text" id="cfname" name="cfname" value="@Model.Patient.contactFirstName" class="form-control"  />
                </div>
                <div class="form-group">
                    <label for="lname">Contact Last Name:</label>
                    <input type="text" id="clname" name="clname" value="@Model.Patient.contactLastName" class="form-control"  />
                </div>
                <div class="form-group">
                    <label for="username">Contact Address:</label>
                    <input type="text" id="caddress" name="caddress" value="@Model.Patient.contactAddress" class="form-control"  />
                </div>
                <div class="form-group">
                    <label for="email">Contact Email:</label>
                    <input type="text" id="cemail" name="cemail" value="@Model.Patient.contactEmailAddress" class="form-control"  />
                </div>
                <div class="form-group">
                    <label for="phone">Contact Phone Number:</label>
                    <input type="text" id="cphone" name="cphone" value="@Model.Patient.contactPhoneNumber" class="form-control"  />
                </div>
                <hr />
                <div class="form-group">
                    <label for="password">Age:</label>
                    <input type="text" id="age" name="age" value="@Model.Patient.age" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="weight">Weight:</label>
                    <input type="text" id="weight" name="weight" value="@Model.Patient.weight" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="height">Height:</label>
                    <input type="text" id="height" name="height" value="@Model.Patient.height" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="symptoms">Initial symptoms:</label>
                    <input type="text" id="symptoms" name="symptoms" value="@Model.Patient.symptoms" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="treatment">Initial Treatment:</label>
                    <input type="text" id="treatment" name="treatment" value="@Model.Patient.treatment" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="treatment">Initial treatment comments:</label>
                    <input type="text" id="treatmentComments" name="treatmentComments" value="@Model.Patient.treatmentComments" class="form-control">
                </div>
                <input class="btn btn-info" type="submit" title="Edit" value="edit" />
            </form>
        </div>

    </div>

    @if (Model.Doctor != null)
    {
        <div class="card mt-4">
            <div class="card-header bg-primary border-bottom">
                <div class="row">
                    <h5 class="ml-2 text-white">Supervising doctor</h5>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Code</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Doctor.firstName</td>
                            <td>@Model.Doctor.lastName</td>
                            <td>@Model.Code.Code</td>
                            <td>
                                <input class="btn btn-info" type="button" title="View" value="View" onclick="location.href='@Url.Action("EditDoctor", new { doctorId = Model.Doctor.Id })'" />
                            </td>
                            <td>
                                <input class="btn btn-danger" type="button" title="Remove" value="Remove" onclick="location.href='@Url.Action("RemoveFromPatient", new { patId = Model.Patient.ID })'" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        
    }






</div>

