@model List<Message>
@{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(document).ready(function () {
        $('#toFade').delay(3000).fadeOut();
    });
</script>
@if (TempData["messageCheck"] != "fail" && TempData["messageCheck"] != null)
{
    <div class="alert alert-success alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        @TempData["messageCheck"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (TempData["messageCheck"] == "fail")
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        Your requests did not go through.
        <hr />
        Please check it again!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<script>
    function toggle(id1, id2) {
        x = document.getElementById(id1);
        y = document.getElementById(id2);
        x.style.display = "none";
        y.style.display = "block";
    }
</script>
<!--INTERNAL-->

<div id="internal" style="display:block">
    <div class="row no-gutters mt-2">
        <div class="col-3">
            <h3 class="text-secondary">Internal messages</h3>
        </div>
        <div class="col-2">
            <button class="btn btn-info float-left" type="button" onclick="toggle('internal', 'external')">Show External Messages</button>
        </div>
    </div>
    <hr />

    @{
        var intern = Model.FindAll(m => m.type.Trim() == "internal");
        @if (intern.Count > 0)
        {
            var unanswered = intern.FindAll(m => m.answer == null);
            var answered = intern.FindAll(m => m.answer != null);
            @if (unanswered.Count > 0)
            {
                <h4 class="text-info">Unanswered</h4>
                foreach (var m in unanswered)
                {

                    <div class="card mb-3">
                        <div class="card-header bg-primary border-bottom">
                            <div class="row text-white">
                                <div class="col-2">
                                    <h6 class="mt-1">@m.timestamp</h6>
                                </div>
                                <div class="col-10">
                                    <h5>@m.subject</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h6 class="text-info">From: </h6>
                                <p id="sender" class="card-title mb-1 ml-2">@m.Name</p>
                            </div>
                            <div class="row">
                                <h6 class="text-info">Message: </h6>
                                <p id="msg" class="card-text mb-1 ml-2">@m.messageContent</p>
                            </div>
                            <form asp-action="AnswerInternal" asp-controller="Message" method="post">
                                <input type="hidden" name="messageId" value="@m.ID" />
                                <div class="form-group">
                                    <textarea class="form-control" name="answer" placeholder="Write your answer here..." required></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info" type="submit">Answer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            }
            else
            {
                <h5 class="text-info">There are no Unanswered Messages</h5>
                <hr />
            }

            @if (answered.Count > 0)
            {
                <h4 class="text-info">Answered</h4>
                @foreach (var m in answered)
                {
                    <div class="card mb-3">
                        <div class="card-header bg-primary border-bottom">
                            <div class="row text-white">
                                <div class="col-2">
                                    <h6 class="mt-1">@m.timestamp</h6>
                                </div>
                                <div class="col-10">
                                    <h5>@m.subject</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h6 class="text-info">From:</h6>
                                <p id="sender" class="card-title mb-1 ml-2">@m.Name</p>
                            </div>
                            <div class="row">
                                <h6 class="text-info">Message: </h6>
                                <p id="msg" class="card-text mb-1 ml-2">@m.messageContent</p>
                            </div>
                            <hr />
                            <div class="row">
                                <h6 class="text-info">Answer:</h6>
                                <p id="a s" class="card-text mb-1 ml-2">@m.answer</p>
                            </div>

                        </div>
                    </div>
                }

            }
            else
            {
                <hr />
                <h4 class="text-info">There are no Answered Messages</h4>
            }
        }
        else
        {
            <h4 class="text-info">There are no Internal Messages</h4>
        }


    }
</div>



<!--EXTERNAL-->
<div id="external" style="display:none">
    <div class="row no-gutters mt-2">
        <div class="col-3">
            <h3 class="text-secondary">External messages</h3>
        </div>
        <div class="col-2">
            <button class="btn btn-info float-left" type="button" onclick="toggle('external','internal')">Show Internal Messages</button>
        </div>
    </div>
    <hr />

    @{
        var ext = Model.FindAll(m => m.type.Trim() == "external");
        @if (ext.Count > 0)
        {
            var unanswered = ext.FindAll(m => m.answer == null);
            var answered = ext.FindAll(m => m.answer != null);
            @if (unanswered.Count > 0)
            {
                <h4 class="text-info">Unanswered</h4>
                foreach (var m in unanswered)
                {
                    <div class="card mb-3">
                        <div class="card-header bg-primary border-bottom">
                            <div class="row text-white">
                                <div class="col-2">
                                    <h6 class="mt-1">@m.timestamp</h6>
                                </div>
                                <div class="col-10">
                                    <h5>@m.subject</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h6 class="text-info">From: </h6>
                                <p id="sender" class="card-title mb-1 ml-2">@m.Name</p>
                            </div>
                            <div class="row">
                                <h6 class="text-info">Message: </h6>
                                <p id="msg" class="card-text mb-1 ml-2">@m.messageContent</p>
                            </div>
                            <form asp-action="AnswerExternal" asp-controller="Message" method="post">
                                <input type="hidden" name="messageId" value="@m.ID" />
                                <div class="form-group">
                                    <textarea class="form-control" name="answer" placeholder="Write your answer here..." required></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info" type="submit">Answer</button>
                                </div>
                            </form>

                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="text-info">There are no Unanswered Messages</h4>
                <hr />
            }

            @if (answered.Count > 0)
            {
                <h4 class="text-info">Answered</h4>
                @foreach (var m in answered)
                {
                    <div class="card mb-3">
                        <div class="card-header bg-primary border-bottom">
                            <div class="row text-white">
                                <div class="col-2">
                                    <h6 class="mt-1">@m.timestamp</h6>
                                </div>
                                <div class="col-10">
                                    <h5>@m.subject</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h6 class="text-info">From: </h6>
                                <p id="sender" class="card-title mb-1 ml-2"><strong>@m.Name</strong></p>
                            </div>
                            <div class="row">
                                <h6 class="text-info">Message: </h6>
                                <p id="msg" class="card-text mb-1 ml-2">@m.messageContent</p>
                            </div>
                            <hr />
                            <div class="row">
                                <h6 class="text-info">Answer: </h6>
                                <p id="a s" class="card-text mb-1 ml-2">@m.answer</p>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <hr />
                <h4 class="text-info">There are no Answered Messages</h4>
            }
        }
        else
        {
            <h4 class="text-info">There are no External Messages</h4>
        }
    }
</div>
