@model List<Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(document).ready(function () {
        $('#toFade').delay(3000).fadeOut();
    });
</script>
@if (TempData["patientName"] != null && TempData["patientDate"] != "fail")
{
    <div class="alert alert-success alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        <strong>@TempData["patientName"]</strong> removed successfully!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (TempData["patientName"] == "fail")
{

    <div class="alert alert-danger alert-dismissible fade show mt-3" tabindex="-1" role="alert">
        Your requests did not go through.
        <hr />
        Please check it again!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="card mt-4">
    <div class="card-header bg-primary border-bottom">
        <div class="row">
            <h4 class="text-white ml-2">Patients</h4>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Status</th>
                </tr>

            </thead>
            <tbody>
                @{

                    foreach (var p in Model)
                    {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => p.firstName)</td>
                                    <td>@Html.DisplayFor(modelItem => p.lastName)</td>
                                    <td>@Html.DisplayFor(modelItem => p.gender)</td>
                                    <td>@Html.DisplayFor(modelItem => p.age)</td>
                                    @if (p.doctorId == null)
                                    {
                                        <td class="text-secondary">Unknown</td>
                                    }
                                    else
                                    {
                                        if (DateTime.Compare(p.quarantineEndDate, DateTime.Parse("13/02/1999")) > 0 || DateTime.Compare(p.quarantineEndDate, DateTime.Now) > 0)
                                        {
                                            <td class="text-danger">Sick</td>
                                        }
                                        else
                                        {
                                            <td class="text-success">Healthy</td>
                                        }
                                    }

                                    <td>
                                        <input class="btn btn-info" type="button" title="Edit" value="Edit" onclick="location.href='@Url.Action("EditPatient", new { patientId = p.ID })'" />
                                    </td>
                                    <td>
                                        <form id="removePatient" asp-action="RemovePatient">
                                            <input type="hidden" name="patientId" value="@p.ID" />
                                            <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                    </td>
                                </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
    

