@model List<EnrollModel>
@{
    ViewData["Title"] = "Requests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    $(document).ready(function () {
        $('#toFade').delay(3000).fadeOut();
    });
</script>
@if (TempData["requestCheck"] != null && TempData["requestCheck"] != "fail")
{
    <div class="alert alert-success alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        @TempData["requestCheck"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if (TempData["requestCheck"] == "fail")
{

    <div class="alert alert-danger alert-dismissible fade show mt-3" tabindex="-1" role="alert">
        Your requests did not go through.
        <hr />
        Please check it again!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<h1>Requests</h1>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>CV</th>
            <th>Letter</th>
        </tr>

    </thead>
    <tbody>
        @{
            foreach (var e in Model)
            {
                if (e.status == null)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => e.firstName)</td>
                        <td>@Html.DisplayFor(modelItem => e.lastName)</td>
                        <td>@e.emailAddress</td>
                        <td>
                            <a href="@Url.Action("GetDocument", "Admin", new{document = "CV", id = e.Id})"><i class="material-icons">description</i></a>
                        </td>
                        <td>
                            <a href="@Url.Action("GetDocument", "Admin", new{document = "Letter", id = e.Id})"><i class="material-icons">description</i></a>
                        </td>
                        <td>
                            <input class="btn btn-danger" type="button" title="Approve" value="Approve" onclick="location.href='@Url.Action("ApproveDoctor", new {id = e.Id })'" />
                        </td>
                        <td>
                            <input class="btn btn-danger" type="button" title="Deny" value="Deny" onclick="location.href='@Url.Action("DenyDoctor", new { id = e.Id})'" />
                        </td>
                    </tr>
                }


            }
        }
    </tbody>
</table>

