@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - VirusTracker</title>
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body style="height:100%; flex:1 0 auto">
    <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
        <header class="bmd-layout-header">
            <div class="navbar navbar-light bg-faded">
                <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
                    <span class="sr-only">Toggle drawer</span>
                    <i class="material-icons">menu</i>
                </button>
                <a href="@Url.Action("Index", "Dashboard")"><h4>Virus Tracker</h4></a>
                <ul  class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Message", new { doctorId = TempData.Peek("doctorId") as string})">Contact Admin</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="@Url.Action("LogOut", "Dashboard")">Log out</a>
                    </li>
                    
                </ul>

            </div>
        </header>
        @*<div id="dw-s2" class="bmd-layout-drawer bg-faded">
            <header>
                <a class="navbar-brand">My Patients</a>
            </header>
            <ul class="list-group">
                <a class="list-group-item">Link 1</a>
                <a class="list-group-item">Link 2</a>
                <a class="list-group-item">Link 3</a>
            </ul>
        </div>*@

        @{
            var docId = TempData.Peek("doctorId") as string;
         }
        <div id="dw-s2" class="bmd-layout-drawer bg-faded">
            @await Component.InvokeAsync("PatientsList", new { doctorId = docId });
        </div>

        <main class="bmd-layout-content">
            <div class="container">
                @RenderBody()
            </div>

        </main>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
