@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - VirusTracker</title>
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body style="height:100%; flex:1 0 auto">
    <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="z-index:10">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" id="doctorsTab">
                        <a class="nav-link text-white" href="@Url.Action("Index", "Admin")">Doctors</a>
                    </li>
                    <li class="nav-item" id="patientsTab">
                        <a class="nav-link text-white" href="@Url.Action("Patients", "Admin")">Patients</a>
                    </li>
                    <li class="nav-item" id="messagesTab">
                        <a class="nav-link text-white" href="@Url.Action("Messages", "Admin")">Messages</a>
                    </li>
                    <li class="nav-item" id="requestsTab">
                        <a class="nav-link text-white" href="@Url.Action("Requests", "Admin")">Requests</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-decoration-none btn" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tools
                        </a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Codes", "Tools")">Codes</a>
                            <a class="dropdown-item" href="@Url.Action("ManageRoles", "Tools")">Manage Roles</a>
                            <a class="dropdown-item" href="@Url.Action("CreateDoctor", "Tools")">Create Doctor</a>
                            <a class="dropdown-item" href="@Url.Action("CreatePatient", "Tools")">Create Patient</a>
                        </div>
                    </li>
                </ul>
                <a class="navbar-brand" href="#">Virus Tracker - Admin Panel</a>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        <a class="text-white text-decoration-none" href="@Url.Action("LogOut", "Dashboard")">Log out</a>
                    </li>

                </ul>
            </div>
        </nav>

        <main class="bmd-layout-content" style="z-index:9">

            <div class="container">
                @RenderBody()
            </div>

        </main>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Epidemy Tracker
            </div>
        </footer>

    </div>
    @*@await Component.InvokeAsync("RemovePatient", new { patientId = docId });*@

    
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
