@page
@model VirusQuestionaire.Pages.QuestionaireModel
@{
    ViewData["Title"] = "Questionaire";
}
<script>
    function toggler(value) {
        var x = document.getElementById(value);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#toFade').delay(3000).fadeOut();
    });
</script>
@if (TempData["formResult"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show mt-3" tabindex="-1" role="alert" id="toFade">
        @TempData["formResult"]
        <hr />
        Please try again!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<body>
    <form enctype="multipart/form-data" method="post">
        <h2>Personal Information</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger">Please fix the following errors</div>
        <div class="form-group">
            <label asp-for="Patient.firstName" class="control-label">First Name</label>
            <input asp-for="Patient.firstName" type="text" class="form-control">
            <span asp-validation-for="Patient.firstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.lastName" class="control-label">Last Name</label>
            <input asp-for="Patient.lastName" class="form-control" />
            <span asp-validation-for="Patient.lastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.phoneNumber" class="control-label">Phone Number</label>
            <input asp-for="Patient.phoneNumber" class="form-control" placeholder="+4072..." />
            <span asp-validation-for="Patient.phoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.emailAddress" class="control-label">Email address</label>
            <input asp-for="Patient.emailAddress" class="form-control" placeholder="name@address.org" />
            <span asp-validation-for="Patient.emailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.address" class="control-label">Home Address</label>
            <input asp-for="Patient.address" class="form-control" placeholder="Street Nb, City..." />
            <span asp-validation-for="Patient.address" class="text-danger"></span>
        </div>
        <button type="button" class="btn btn-info" onclick="toggler('contactPerson')">Add contact person</button>
        <div id="contactPerson" style="display:none">
            <h2>Contact person</h2>
            <hr />
            <div class="form-group">
                <label asp-for="Patient.contactFirstName" class="control-label">First Name</label>
                <input asp-for="Patient.contactFirstName" class="form-control" />
                <span asp-validation-for="Patient.contactFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.contactLastName" class="control-label">Last Name</label>
                <input asp-for="Patient.contactLastName" class="form-control" />
                <span asp-validation-for="Patient.contactLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.contactPhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="Patient.contactPhoneNumber" class="form-control" placeholder="+4072..." />
                <span asp-validation-for="Patient.contactPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.contactEmailAddress" class="control-label">Email address</label>
                <input asp-for="Patient.contactEmailAddress" class="form-control" placeholder="name@address.org" />
                <span asp-validation-for="Patient.contactEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.contactAddress" class="control-label">Home Address</label>
                <input asp-for="Patient.contactAddress" class="form-control" placeholder="Street Nb, City..." />
                <span asp-validation-for="Patient.contactAddress" class="text-danger"></span>
            </div>
        </div>
        <h2>Patient details</h2>
        <hr />
        <div class="form-group">
            <label asp-for="Patient.gender" class="control-label">Gender</label>
            <select asp-for="Patient.gender" class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select>
            <span asp-validation-for="Patient.gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.age" class="control-label">Age</label>
            <input asp-for="Patient.age" class="form-control" placeholder="0-99" />
            <span asp-validation-for="Patient.age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.height" class="control-label">Height</label>
            <input asp-for="Patient.height" class="form-control" placeholder="0-200 cm" />
            <span asp-validation-for="Patient.height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Patient.weight" class="control-label">Weight</label>
            <input asp-for="Patient.weight" class="form-control" placeholder="0-200" />
            <span asp-validation-for="Patient.weight" class="text-danger"></span>
        </div>
        <h2>Observed Symptoms</h2>
        <hr />
        <div class="form-group">
            <label asp-for="Patient.symptomsDate" class="control-label">Date when symptoms appeared</label>
            <input asp-for="Patient.symptomsDate" type="date" class="form-control">
            <span asp-validation-for="Patient.symptomsDate" class="text-danger"></span>
        </div>


        <div class="form-group">
            @{
                var aux = "fever,dry cough,tiredness,aches and pains,sore throat,diarrhea,conjunctivitis,headache,lack of taste or smell,rashes on skin,discolouration of fingers or toes,difficulty breathing,chest pain or pressure,loss of speech or movement";
                string[] split = aux.Split(',');
                List<string> symptoms = new List<string>(split);
                foreach (var s in symptoms)
                {
                    var idaux = s.Split(" ")[0] + "Extra";
                    <div class="form-group form-inline">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="@s" name="symptom" value="@s" onclick="toggler('@idaux')">
                            <label class="custom-control-label" for="@s">@s</label>
                        </div>
                        @if (s == "fever")
                        {
                            <input style="display:none" maxlength="20" type="text" class="form-control ml-3" id="feverExtra" name="extra" placeholder="Temperature(Celsius)">
                        }
                        else if (s == "dry cough")
                        {
                            <select style="display:none" class="form-control ml-3" name="extra" id="dryExtra">
                                <option value="with pain">With pain</option>
                                <option value="without pain">Without pain</option>
                            </select>
                        }
                        else if (s == "aches and pains")
                        {
                            <select style="display:none" class="form-control ml-3" name="extra" id="achesExtra">
                                <option value="pulsating">Pulsating</option>
                                <option value="constant">Constant</option>
                                <option value="tactile">Tactile(when touching the area)</option>
                            </select>
                        }
                        else if (s == "headache")
                        {
                            <select style="display:none" class="form-control ml-3" name="extra" id="headacheExtra">
                                <option value="pulsating">Pulsating</option>
                                <option value="constant">Constant</option>
                            </select>
                        }
                        else if (s == "rashes on skin")
                        {
                            <select style="display:none" class="form-control ml-3" name="extra" id="rashesExtra">
                                <option value="ticklish">Ticklish</option>
                                <option value="painful">Painful</option>
                            </select>
                        }
                        else if (s == "difficulty breathing")
                        {
                            <select style="display:none" class="form-control ml-3" name="extra" id="difficultyExtra">
                                <option value="with pain">With chest pain</option>
                                <option value="without pain">Without chest pain</option>
                            </select>
                        }
                        else
                        {
                            <input style="display:none" maxlength="50" type="text" class="form-control ml-3" id="@idaux" name="extra" value="" placeholder="Short comment...">
                        }
                    </div>


                }
            }
            <input type="hidden" asp-for="Patient.symptoms" value="placeholder" />
            <span asp-validation-for="Patient.symptoms" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Patient.additionalComments" class="control-label">Additional medical information(allergies, know diseases, treatments etc.)</label>
            <input asp-for="Patient.additionalComments" class="form-control" placeholder="..." />
            <span asp-validation-for="Patient.additionalComments" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="files">Please add your medical record or other relevant personal medical documents(PDF)</label>
            <input name="files" type="file" multiple />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
